---
export const prerender = false;

import Base from "../../layouts/base.astro";
import { client, gql } from "../../lib/client";
import {
	ArchiveView,
	FRAGMENT as ARCHIVE_FRAGMENT,
} from "../../components/post/Archive";

if (!Astro.locals.uri) {
	return Astro.rewrite("/404");
}

const archivePromise = client.query(
	gql`
		query getPostData($first: Int = 10, $after: String = null) {
			posts(first: $first, after: $after) {
				nodes {
					...PostExcerpt
				}
				pageInfo {
					endCursor
					hasNextPage
				}
			}
		}

		${ARCHIVE_FRAGMENT}
	`,
	{
		after: null,
	}
);

const pagePromise = client.query(
	gql`
		query getFrontPage {
			page(id: "/", idType: URI) {
				title
				content
				featuredImage {
					node {
						altText
						srcSet
						sourceUrl
					}
				}
			}
		}
	`,
	{}
);

const [archiveResults, pageResults] = await Promise.all([
	archivePromise,
	pagePromise,
]);

const {
	data: { page },
} = pageResults;
---

<Base currentUri={Astro.locals.uri}>
	<section
		class="sm:grid items-center grid-rows-2 sm:grid-rows-1 sm:grid-cols-3 lg:gap-16 md:gap-8 gap-4"
	>
		<div class="p-8 sm:p-4 sm:col-start-1 sm:col-end-2">
			<img
				src={page.featuredImage.node.sourceUrl}
				srcset={page.featuredImage.node.srcSet}
				alt={page.featuredImage.altText}
				class="rounded-full"
				loading="eager"
			/>
		</div>
		<div class="text-center sm:col-start-2 sm:col-end-4">
			<h1
				class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
			>
				<span class="block xl:inline">{page.title}</span>
			</h1>
			<div
				class="mt-3 max-w-md mx-auto text-base text-gray-600 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
				set:html={page.content}
			/>
		</div>
	</section>
	<section>
		<ArchiveView posts={archiveResults.data.posts.nodes} />
	</section>
</Base>
