---
import Base from "@/layouts/base.astro";
import { client, gql } from "@/lib/client";
import {
	default as ArchiveView,
	PostArchiveFragment,
} from "@/components/post/Archive.astro";

const archivePromise = client.query(
	gql`
		query getPostData($first: Int = 10, $after: String = null) {
			posts(first: $first, after: $after) {
				nodes {
					...PostExcerpt
				}
				pageInfo {
					endCursor
					hasNextPage
				}
			}
		}

		${PostArchiveFragment}
	`,
	{
		after: null,
	},
);

const pagePromise = client.query(
	gql`
		query getFrontPage {
			page(id: "/", idType: URI) {
				title
				content
				featuredImage {
					node {
						altText
						srcSet
						sourceUrl
					}
				}
			}
		}
	`,
	{},
);

const [archiveResults, pageResults] = await Promise.all([
	archivePromise,
	pagePromise,
]);

const {
	data: { page },
} = pageResults;
---

<Base>
	<section
		class="grid-rows-2 items-center gap-4 sm:grid sm:grid-cols-3 sm:grid-rows-1 md:gap-8 lg:gap-16"
	>
		<div class="p-8 sm:col-start-1 sm:col-end-2 sm:p-4">
			<img
				src={page.featuredImage.node.sourceUrl}
				srcset={page.featuredImage.node.srcSet}
				alt={page.featuredImage.altText}
				class="rounded-full"
				loading="eager"
			/>
		</div>
		<div class="text-center sm:col-start-2 sm:col-end-4">
			<h1
				class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-6xl"
			>
				<span class="block xl:inline">{page.title}</span>
			</h1>
			<div
				class="mx-auto mt-3 max-w-md text-base text-gray-600 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl"
				set:html={page.content}
			/>
		</div>
	</section>
	<section>
		<ArchiveView posts={archiveResults.data.posts.nodes} />
	</section>
</Base>
