---
import ExtLink from "./ExtLink.astro";

import { Icon } from "astro-icon/components";

const Socials = [
	{
		name: "Instagram",
		handle: "@moon_meister",
		link: "https://www.instagram.com/moon_meister/",
	},
	{
		name: "X",
		handle: "@moon_meister",
		link: "https://twitter.com/moon_meister",
	},
	{
		name: "Bluesky",
		handle: "@moonmeister.net",
		link: "https://bsky.app/profile/moonmeister.net",
	},
];
---

<div
	class="mx-auto max-w-7xl px-4 py-12 sm:px-6 md:flex md:items-center md:justify-between lg:px-8"
>
	<div class="flex justify-center space-x-6 md:order-2">
		{
			Socials.map(({ name, handle, link }) => (
				<ExtLink
					key={link}
					href={link}
					title={`${name} - ${handle}`}
					override={false}
				>
					<span class="sr-only">{name}</span>
					<Icon name={`simple-icons:${name.toLowerCase()}`} />
				</ExtLink>
			))
		}
	</div>
	<div class="mt-8 md:order-1 md:mt-0">
		<p class="text-center text-base text-gray-500">
			&copy;{new Date().getFullYear()} Alex Moon. All rights reserved.
		</p>
	</div>
</div>
