---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import { gql, client } from "@/lib/client";

const currentPage = Astro.originPathname;

const navData = await client.query(
	gql`
		query get_nav {
			categories(where: { hideEmpty: true }) {
				nodes {
					name
					uri
				}
			}
		}
	`,
	{},
);

const categories = navData?.data?.categories?.nodes;

const allCategories = [{ name: "All", uri: "/" }, ...categories];
---

<script>
	const mobileMenu = document.getElementById("mobile-menu");
	const mainMenu = document.getElementById("main-menu");
	const closeMenu = document.getElementById("close-menu");

	closeMenu?.addEventListener("click", () => {
		mobileMenu?.setAttribute("data-closed", "true");
	});

	mainMenu?.addEventListener("click", () => {
		mobileMenu?.setAttribute("data-closed", "false");
	});
</script>
<div class="mx-auto max-w-7xl px-4 sm:px-6">
	<nav
		class="relative flex items-center justify-between sm:h-10 md:justify-center"
		aria-label="Global"
	>
		<div class="flex flex-1 items-center md:absolute md:inset-y-0 md:left-0">
			<div class="flex w-full items-center justify-between md:w-auto">
				<div class="-mr-2 flex items-center md:hidden">
					<button
						type="button"
						class="inline-flex items-center justify-center rounded-md bg-gray-50 p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-hidden focus:ring-inset"
						id="main-menu"
						aria-haspopup="true"
					>
						<span class="sr-only">Open main menu</span>
						<Icon name="heroicons:bars-3" class="h-6 w-6" aria-hidden="true" />
					</button>
				</div>
			</div>
		</div>
		<div class="hidden md:flex md:space-x-10">
			{
				allCategories?.map(({ name, uri }) =>
					currentPage !== uri ? (
						<Link key={uri} href={uri} role="menuitem">
							{name}
						</Link>
					) : null,
				)
			}
		</div>
	</nav>
</div>
<div
	id="mobile-menu"
	class="absolute inset-x-0 top-0 origin-top-right p-2 transition data-[closed=true]:hidden md:hidden"
	data-closed="true"
>
	<div
		class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black/5"
	>
		<div class="flex items-center justify-between px-5 pt-4">
			<div class="mr-2">
				<button
					id="close-menu"
					type="button"
					class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-hidden focus:ring-inset"
				>
					<span class="sr-only">Close menu</span>
					<Icon name="heroicons:x-mark" class="h-6 w-6" aria-hidden="true" />
				</button>
			</div>
		</div>
		<div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
			{
				allCategories?.map(({ name, uri }) =>
					currentPage === uri ? null : (
						<div class="px-2 pt-2 pb-3" role="none">
							<Link
								href={uri}
								class="block px-3 py-2 hover:bg-gray-50"
								role="menuitem"
							>
								{name}
							</Link>
						</div>
					),
				)
			}
		</div>
	</div>
</div>
